<form class="ui stacked segment form" action="/wishlist/{{wishlist.id}}/addgame" method="POST">
  <div class="four fields">
    <div class="field">
      <label>Title</label>
      <input placeholder="Title" type="text" name="title" autofocus required>
    </div>
    <div class="field">
      <label>Console</label>
      <input placeholder="Console" type="text" name="console" required>
    </div>
    <div class="field">
      <label>Genre</label>
      <input placeholder="Genre" type="text" name="genre" required>
    </div>
    <div class="field">
      <label>Price</label>
      <input placeholder="Price" type="text" name="price" required>
    </div>
  </div>
  <button class="ui grey submit button"><i class="upload icon"></i></button>
</form>