{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    The Developer: 
  </h2>

  <div class="ui centered cards">
    {{#each developers}}
      {{> card}}
    {{/each}}
  </div>
  
  <div class="ui centered comments">
  <h3 class="ui top attached header">Comments</h3>
    <form class="ui centered reply form">
      <div class="field">
        <textarea></textarea>
      </div>
      <div class="ui grey labeled submit icon button">
        <i class="icon edit"></i> Leave a message for the author :)
      </div>
    </form>
  </div>
</section>