{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    The wishlist app team: 
  </h2>

  <div class="ui centered cards">
    {{#each developers}}
      {{> card}}
    {{/each}}
  </div>
  
  <div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
    
    
</section>