{{> menu}}

<section class="ui two column grid segment">
  <div class="ui column">
    <h1 class="ui header">
      Welcome to the Wishlist App, {{fullname}}!
    </h1>
      <p>
        This app allows users to create a collection of wishlists in order to keep track of the video games they wish to purchase sometime in the future.
      </p>
      <div class="buttons">
        
        <div class="ui animated fade button" tabindex="0" onclick="showHide()">
          <div class="hidden content"><i class="arrow right icon"></i></div>
          <div class="visible content">Read more</div>
        </div>
        
        <div class="ui animated fade button" tabindex="0" onclick="alert('Thank you so much :)')">
          <div class="hidden content"><i class="smile icon"></i></div>
          <div class="visible content">Like the app?</div>
        </div>
        
        <div class="ui animated fade button" tabindex="0" onclick="welcomeUser()">
          <div class="hidden content"><i class="user icon"></i></div>
          <div class="visible content">Username?</div>
        </div>
        
      </div>
      <div id="readmore" class="ui message">
        <p>
          This is my submission for Assignment 2 of the Web App Development 1 module. It is closely based on my Assignment 1 version, with some improvements made throughout. This app was created to combat an issue I had happen a lot, the issue of not being able to keep track of the games I wanted to buy at a future date.
        </p>  
      </div>
      <div id="welcomeuser" class="ui message" onclick="hideWelcome()"> </div>
    
      <div class="ui divider"></div>
    
      <h3 class="ui center aligned header">The Wishlist App now contains:</h3>
      <div class="ui two statistics">
        <div class="ui huge statistic">
          <div class="value">
            {{totalWishlists}}
          </div>
          <div class="label">
            Wishlists
          </div>
        </div>
        
        <div class="ui huge statistic">
          <div class="value">
            {{totalGames}}
          </div>
          <div class="label">
            Games
          </div>
        </div>
        
        <div class="statistic">
          <div class="value">
            <i class="gamepad icon"></i> 5
          </div>
          <div class="label">
            Flights
          </div>
        </div>
    </div>

  </div>
  
  <div class="ui column">
    <div class="ui grid">
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/9ba7382f-fb82-4a5a-a4a0-a8e03177a6b9%2F61H-3pL9ysL.jpg?1554809011078">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/9ba7382f-fb82-4a5a-a4a0-a8e03177a6b9%2Feacc2030.jpg?1554808740160">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/9ba7382f-fb82-4a5a-a4a0-a8e03177a6b9%2F1200x630bb.jpg?1554808932348">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/9ba7382f-fb82-4a5a-a4a0-a8e03177a6b9%2FCS425161-01A-BIG.jpg?1554808740840">
      </div>
    </div>
  </div>
</section>
