{{> menu}}

<section class="ui two column grid segment">
  <div class="ui column">
    <h1 class="ui header">
      Welcome to the Wishlist App, {{fullname}}!
    </h1>
      <p>
        This app allows users to create a collection of wishlists in order to keep track of the video games they wish to purchase sometime in the future.
      </p>
      <div class="buttons">
        
        <div class="ui animated fade button" tabindex="0" onclick="showHide()">
          <div class="hidden content"><i class="arrow right icon"></i></div>
          <div class="visible content">Read more</div>
        </div>
        
        <div class="ui animated fade button" tabindex="0" onclick="alert('Thank you so much :)')">
          <div class="hidden content"><i class="smile icon"></i></div>
          <div class="visible content">Like the app?</div>
        </div>
        
        <div class="ui animated fade button" tabindex="0" onclick="welcomeUser()">
          <div class="hidden content"><i class="user icon"></i></div>
          <div class="visible content">Username?</div>
        </div>
        
      </div>
      <div id="readmore" class="ui message">
        <p>
          This is my submission for Assignment 2 of the Web App Development 1 module. It is closely based on my Assignment 1 version, with some improvements made throughout. This app was created to combat an issue I had happen a lot, the issue of not being able to keep track of the games I wanted to buy at a future date.
        </p>  
      </div>
      <div id="welcomeuser" class="ui message" onclick="hideWelcome()"> </div>
    
      <div class="ui divider"></div>
    
      <h3 class="ui center aligned header">The Wishlist App now contains:</h3>
    
      <div class="ui two statistics">
        <div class="ui tiny statistic">
          <div class="value">
            {{totalWishlists}}
          </div>
          <div class="label">
            Wishlists
          </div>
        </div>
        
        
        <div class="ui tiny statistic">
          <div class="value">
            <i class="gamepad icon"></i> 
            {{totalGames}}
          </div>
          <div class="label">
            Games
          </div>
        </div>
    </div>

  </div>
  
  <div class="ui column">
    <div class="ui grid">
      <div class="ui eight wide column">
        <img class="ui circular image" src="https://cdn.glitch.com/f097a531-b61a-4991-8736-4ddb1b75f159%2Fps5.webp?v=1619115558496">
      </div>
      <div class="ui eight wide column">
        <img class="ui medium circular image" src="https://cdn.glitch.com/f097a531-b61a-4991-8736-4ddb1b75f159%2Fxbox.png?v=1619115573524">
      </div>
      <div class="ui eight wide column">
        <img class="ui medium circular image" src="https://cdn.glitch.com/f097a531-b61a-4991-8736-4ddb1b75f159%2F150947-games-news-nintendo-unveils-a-gorgeous-limited-edition-switch-for-animal-crossing-new-horizons-image1-eja1sdvq5y.jpg?v=1619115677097">
      </div>
      <div class="ui eight wide column">
        <img class="ui circular image" src="https://cdn.glitch.com/f097a531-b61a-4991-8736-4ddb1b75f159%2Fsteam-valve-blog.jpg?v=1619115612379">
      </div>
    </div>
  </div>
</section>
