/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background: radial-gradient(cornflowerblue, paleturquoise)
}

.ui.stacked.segment{
  background-color: azure;
}

.ui.header.item{
 color: thistle; 
}

h1 {
  font-style: italic;
  color: lightgray;
}

#readmore {
  display: none;
  color: lightgray;
}

#welcomeuser {
  display: none;
}

.name{
  padding-top:20px;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
  text-transform:capitalize;
}